<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TO DO MVC</title>
</head>
<body>
<script src="../build/react.js"></script>
<script src="../build/react-dom.js"></script>
<script src="../build/browser.min.js"></script>
</body>
<div class="containter" id="content"></div>
<!--<script type="text/babel" src="State-demo.jsx"></script>-->
<!--<script type="text/babel" src="Setstate-demo.jsx"></script>-->
<!--<script type="text/babel" src="Get-father-data.jsx"></script>-->
<script type="text/babel" src="Get-other-component-data-demo.jsx"></script>
</html>